.tlu-loading-indicator .lyr_atomIcon {
  animation: 1s linear 0s infinite forwards spin;
}

.tlu-dbahn.loading img {
  animation: 1s linear 0s infinite forwards spin;
}

[data-tlu-dbahn-dialog] {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 100px;
}

@keyframes spin {
  from {
    transform:rotate(0deg);
  }
  to {
    transform:rotate(360deg);
  }
}