.tlu-loading-indicator .lyr_atomIcon {
  animation: 1s linear 0s infinite forwards spin;
}

.tlu-dbahn.loading img {
  animation: 1s linear 0s infinite forwards spin;
}

[data-tlu-dbahn-dialog] {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 100px;
}

@keyframes spin {
  from {
    transform:rotate(0deg);
  }
  to {
    transform:rotate(360deg);
  }
}

.tlu-interrail {
  margin-left: auto;
  cursor: pointer;
  display: flex;
  > img {
    width: 10px;
    height: 10px;
    align-self: center;
  }
  &.loading img {
    animation: 1s linear 0s infinite forwards spin;
  }
  &:hover {
    text-decoration: underline;
  }
}