.tlu-loading-indicator .lyr_atomIcon {
  animation: 1s linear 0s infinite forwards spin;
}

@keyframes spin {
  from {
    transform:rotate(0deg);
  }
  to {
    transform:rotate(360deg);
  }
}

.tlu-interrail {
  margin-left: auto;
  margin-top: 10px;
  cursor: pointer;
  display: flex;
  > img {
    width: 10px;
    height: 10px;
    align-self: center;
  }
  &.loading img {
    animation: 1s linear 0s infinite forwards spin;
  }
  &:hover {
    text-decoration: underline;
  }
}