<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=500" />
    <title>Popup</title>
</head>

<body>
    <div id="popup-root" style="font-family: Arial, sans-serif;">
        <div style="display: flex; flex-direction: column;">
            <span>Username:</span>
            <input id="sttUsernameInput" type="text" placeholder="Username" />
        </div>
        <div style="margin-top: 10px;">
            <button id="tlu-options">Options</button>
        </div>
    </div>
</body>

</html>